<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winners page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hurray!</h1>
        <p>Here's the top scores for today's riddle:</p>
        <table id="user-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Solving time (in seconds)</th>
                </tr>
            </thead>
            <tbody>
                {% for user in scores %}
                    <tr>
                        <td>{{ user['name'] }}</td>
                        <td>{{ user['timeInSeconds'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>