<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Guess Quest</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button type="submit">Log In</button>
        </form>
        <button id="login">login</button>
        <button id="home">Home</button>
        <button id="forgot-password">I forgot my username or password</button>
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>
