<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if current_date == riddle_date %}
            Riddle of the Day
        {% else %}
            Riddle {{ riddle_id }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>
            {% if current_date == riddle_date %}
                Riddle of the Day
            {% else %}
                Riddle {{ riddle_id }}
            {% endif %}
        </h1>
        <p>{{ riddle }}</p>

        <form action="{{ url_for('check_answer') }}" method="post">
            <input type="text" name="answer" placeholder="Enter 4-digit answer" pattern="\d{4}" required>
            <button type="submit">Submit</button>
        </form>

        {% if result is defined %}
            <p>{{ result }}</p>
            {% if result == "Correct! Well done." %}
                <p>Would you like to see this riddles scoreboard?</p>
                <a href="{{ url_for('riddle_scoreboard') }}">Yes</a>
                <a href="{{ url_for('index') }}">No</a>
            {% endif %}
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>